<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Test">
        <classes>
            <class name="tests.CreateAccountTest"/>
            <class name="tests.LoginAccountTest"/>
            <class name="tests.VerifyMoviesTest"/>
            <!-- Add all other test classes here -->
        </classes>
    </test>
</suite>
